# ignore everything in the root except the "wp-content" directory.
!wp_content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp_content/*
# !wp_content/mu-plugins/
# !wp_content/plugins/
# !wp_content/themes/

# ignore these plugins
wp_content/plugins/hello.php

# ignore specific themes
wp_content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

.DS_Store

# ignore database
!db_data/

db_data/*

# ignore image
!Material/
Material/image/
